body {
    margin: 0px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

.main-content {
    position: relative;
}

header {
    width: 100%;
    height: 11vh;
    background-color: rgba(238, 238, 238, 0.795);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header div {
    color: black;
    font-size: 1.5rem;
    margin: 1.5rem;
}

header div:hover {
    transform: scale(1.10);
    cursor: pointer;
    border-bottom: 1px solid black;
}

.name {
    background-color: rgba(255, 255, 255, 0.11);
    text-align: center;
    width: 30rem;
    height: 30rem;
    position: absolute;
    top: 25vh;
    left: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    border-radius: 50%;
}

.name .me {
    font-size: 3.5rem;
    font-weight: 700;
    color: rgb(238, 238, 238);
    letter-spacing: 2px;
}

.name .web-dev {
    color: white;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 5px;
    margin: 1rem;
}

.name div {
    color: white;
}

.flex-icons {
    display: flex;

}


.about {
    width: 100%;
    height: 40vh;
    background-color: rgb(238, 238, 238);
}