body {
    margin: 0px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

.background {
    width: 100%;
    height: 140vh;
}

.background2 {
    display: none;
    background-size: cover;    
}

.main-content {
    position: relative;
}
/* Header containing all the links to different parts of the page */
.header {
    width: 100%;
    height: 11vh;
    background-color: rgb(238, 238, 238);
    border-bottom: 3px solid rgba(0, 0, 0, 0.459);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
}

.header a {
    color: rgb(8, 8, 8);
    font-size: .9em;
    margin: 1.5rem;
    text-decoration: none;
}

/* @media(max-width: 1974px) {
    .header a {
        margin-right: 3.5rem;
    }
} */

.header a:hover {
    transform: scale(1.10);
    cursor: pointer;
    border-bottom: 1px solid rgb(8, 8, 8);
    line-height: 2rem;
    transition: .2s;
    /* color: rgb(94, 160, 245); */
}

.header a:focus {
    transform: scale(1);
}
/* Circle that has my name, web developer, and social media icons */
.name {
    background-color: rgba(255, 255, 255, 0.116);
    text-align: center;
    width: 25rem;
    height: 25rem;
    position: absolute;
    top: 25vh;
    left: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(0, 0, 0, 0.459);
    border-radius: 50%;
}

.name .me {
    font-size: 3rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.459);
    letter-spacing: 2px;
}

.name .web-dev {
    color: rgba(0, 0, 0, 0.459);
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 5px;
    margin: 1rem;
}

.name div {
    color: rgba(0, 0, 0, 0.459);
}

.flex-icons {
    display: flex;
    justify-content: space-evenly;
    width: 20rem;
    margin: 1rem;
}

.flex-icons a {
    font-size: 1.5rem;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.459);
}

.flex-icons a:hover {
    transform: scale(1.3);
    cursor: pointer;
}

#black:hover {
    border-radius: 5px;
    background-color: rgb(204, 204, 204);
}

#blue:hover {
    border-radius: 5px;
    background-color: rgb(128, 179, 245);
}

#red:hover {
    border-radius: 5px;
    background-color: rgb(235, 91, 91);
}

#yellow:hover {
    border-radius: 5px;
    background-color: rgb(246, 255, 113);
}

#green:hover {
    border-radius: 5px;
    background-color: rgb(118, 233, 108);
}

/* Contains why I do what I do. Contains a paragraph display */
#about {
    width: 100%;
    height: 100vh;
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.who-am-i {
    width: 20rem;
    height: 10rem;
    background-color: rgb(128, 179, 245);
    box-shadow: 2px 2px 2px 2px rgb(199, 197, 197);
    border: 3px solid rgba(0, 0, 0, 0.459);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.who-am-i h1 {
    text-align: center;
    font-weight: 500;
}

#about line {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.459);
    z-index: 1;
}

.who-am-i-content {
    margin-left: 3rem;
    width: 40rem;
    height: 15rem;
    background-color: rgb(204, 204, 204);
    border-radius: 2px;
    border: 3px solid rgba(0, 0, 0, 0.459);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.who-am-i-content p {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
    line-height: 20px;
}

/* Contains skill title and some images of my skills */
#skills {
    width: 100%;
    height: 100vh;
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.skills-content {
    width: 45rem;
    height: 30rem;
    border: 3px solid rgba(0, 0, 0, 0.459);
    background-color: rgb(204, 204, 204);
    z-index: 3;
    display: grid;
    grid-template-columns: 15rem 15rem 15rem;
    grid-template-rows: 15rem 15rem 15rem;
}

.skill-item {
    border: 1px solid rgb(145, 145, 145);
    /* width: 15rem;
    heigth: 15rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.skill-item div {
    position: absolute;
    bottom: 4px;
    font-weight: 700;
}

.skill-item img:hover {
    transform: translateY(-50px);
    opacity: 0;
    transition: 1s;
}

.skills-title {
    margin: 0px;
    width: 20rem;
    height: 10rem;
    border: 3px solid rgba(0, 0, 0, 0.459);
    background-color: rgb(235, 91, 91);
    box-shadow: 2px 2px 2px 2px rgb(199, 197, 197);
    margin-left: 3rem;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#skills line {
    width: 100%;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.459);
    position: absolute;
}

.skills-title h1 {
    margin: 0px;
    padding-bottom: 0px;
    font-weight: 500;
}

/* project title and group and personal project */
#projects {
    width: 100%;
    height: 100vh;
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.my-projects-title {
    width: 20rem;
    height: 10rem;
    margin-right: 3rem;
    background-color: rgb(246, 255, 113);
    box-shadow: 2px 2px 2px 2px rgb(199, 197, 197);
    border: 3px solid rgba(0, 0, 0, 0.459);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

#projects line {
    width: 100%;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.459);
    position: absolute;
    z-index: 1;
}

.my-projects-title h1 {
    margin-bottom: 0px;
    font-weight: 500;
}

.project-content {
    width: 55rem;
    height: 18rem;
    background-color: rgb(204, 204, 204);
    border: 3px solid rgba(0, 0, 0, 0.459);
    z-index: 3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.project-content img {
    border-top: 3px solid rgba(0, 0, 0, 0.459);
    border-bottom: 3px solid rgba(0, 0, 0, 0.459);
}

.project-content img:hover {
    background-color: rgb(0, 0, 0);
    transform: scale(1.025);
}

/* contains contact title and my contact information */
#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
}

#contact line {
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.459);
}

.contact-title {
    width: 20rem;
    height: 10rem;
    margin-left: 3rem;
    background-color: rgb(118, 233, 108);
    box-shadow: 2px 2px 2px 2px rgb(199, 197, 197);
    border: 3px solid rgba(0, 0, 0, 0.459);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.contact-title h1 {
    font-weight: 500;
    margin: 0px;
}

.contact-content {
    width: 50rem;
    height: 15rem;
    background-color: rgb(204, 204, 204);
    border: 3px solid rgba(0, 0, 0, 0.459);
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.contact-content div {
    margin: .5rem;
    margin-left: 10rem;
}

.contact-content a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

@media(max-width: 554px) {
    #about {
        height: auto;
    }
    .who-am-i {
        margin: 3rem;
    }

    .who-am-i-content {
        margin: 1rem;
        padding: none;
        margin: 0rem;
    }
    #skills {
        height: auto;
    }

    .skills-content {
        width: 20rem;
    }

    .skills-title {
        margin-top: 3rem;
    }

    #projects {
        height: auto;
    }

    .my-projects-title {
        margin-top: 3rem;
    }

    #contact {
        height: auto;
    }

    #contact line {
        height: 90vh;
    }

    .contact-title {
        margin-top: 3rem;
    }
}
@media(max-width: 1024px) {

    .contact-content {
        align-items: flex-start;
        justify-content: center;
    }

    .contact-content div {
        margin-left: .5rem;
        text-align: left;

    }

    .background2 {
        display: block;
        width: 100%;
        height: 100vh;
    }

    .name {
        top: 30vh;
        left: calc(50vw - 10rem);
        border: 5px solid white;
    }
    
    .name .me {
        color: white;
    }

    .name .web-dev {
        color: white;
    }

    .color-icon {
        color: white;
    }

    .background {
        display: none;
    }

    .who-am-i-content {
        width: 25rem;
        height: 30rem;
    }

    .skills-content {
        width: 30rem;
        height: 40rem;
        grid-template-columns: 15rem 15rem;
        grid-template-rows: auto auto auto;
    }

    .project-content {
        width: 30rem;
        height: 40rem;
        flex-direction: column;
    }

    .contact-content {
        width: 25rem;
        height: 30rem;
        flex-direction: column;
        text-align: center;
    }

}

@media(max-width: 1170px) {
    .background {
        height: 90vh; 
    }
}

@media(max-width: 1334px) {
    #about {
        flex-direction: column;
    }

    .name {
        width: 20rem;
        height: 20rem;
    }

    .name .me {
        font-size: 2rem;
    }

    .name .web-dev {
        letter-spacing: 3px;
        font-size: 1.3rem;
    }

    .who-am-i-content {
        margin-left: 0rem;
        margin-top: 3rem;
    }

    #about line {
        width: 3px;
        height: 100vh;
    }

    #skills {
        flex-direction: column-reverse;
    }

    #skills line {
        width: 3px;
        height: 100vh;
    }

    .skills-title {
        margin-left: 0rem;
        margin-bottom: 3rem;
    }

    #projects {
        flex-direction: column;
    }

    .my-projects-title {
        margin-right: 0rem;
        margin-bottom: 3rem;
    }

    #projects line {
        width: 3px;
        height: 100vh;
    }

    #contact {
        flex-direction: column-reverse;
    }

    .contact-title {
        margin-left: 0rem;
        margin-bottom: 3rem;
    }

    #contact line {
        width: 3px;
        height: 100vh;
    }
}

@media(max-width: 414px) {
    .header {
        justify-content: center;
    }

    .header a {
        margin: .7rem;
    }

    .skills-content {
        width: 23rem;
        grid-template-columns:  11.5rem 11.5rem;
        height: auto;
    }

    .skills-content img {
        width: 80px;
        margin-top: .3rem;
        margin-bottom: 2rem;
    }

    .project-content {
        width: 23rem;
    }

    .project-content img {
        width: 23rem;
    }
}

@media(max-width: 1566px) {
    .background {
        height: 120vh;
    }
}
