body {
    margin: 0px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

.main-content {
    position: relative;
}

header {
    width: 100%;
    height: 11vh;
    background-color: rgba(248, 248, 248);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
}

header a {
    color: rgb(8, 8, 8);
    font-size: .9em;
    margin: 1.5rem;
    text-decoration: none;
}

header a:hover {
    transform: scale(1.10);
    cursor: pointer;
    border-bottom: 1px solid rgb(8, 8, 8);
    line-height: 2rem;
    transition: .2s;
    /* color: rgb(94, 160, 245); */
}

header a:focus {
    transform: scale(1);
}

.name {
    background-color: rgba(255, 255, 255, 0.116);
    text-align: center;
    width: 25rem;
    height: 25rem;
    position: absolute;
    top: 25vh;
    left: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    border-radius: 50%;
}

.name .me {
    font-size: 3rem;
    font-weight: 700;
    color: rgb(238, 238, 238);
    letter-spacing: 2px;
}

.name .web-dev {
    color: white;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 5px;
    margin: 1rem;
}

.name div {
    color: white;
}

.flex-icons {
    display: flex;
    justify-content: space-evenly;
    width: 20rem;
    margin: 1rem;
}

.flex-icons a {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

.flex-icons a:hover {
    transform: scale(1.3);
    cursor: pointer;
}

#black:hover {
    border-radius: 5px;
    background-color: rgb(204, 204, 204);
}

#blue:hover {
    border-radius: 5px;
    background-color: rgb(128, 179, 245);
}

#red:hover {
    border-radius: 5px;
    background-color: rgb(235, 91, 91);
}

#yellow:hover {
    border-radius: 5px;
    background-color: rgb(246, 255, 113);
}

#green:hover {
    border-radius: 5px;
    background-color: rgb(118, 233, 108);
}

#about {
    width: 100%;
    height: 100vh;
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.who-am-i {
    width: 20rem;
    height: 10rem;
    background-color: rgb(128, 179, 245);
    box-shadow: 2px 2px 2px 2px rgb(199, 197, 197);
    border: 3px solid rgba(0, 0, 0, 0.459);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.who-am-i h1 {
    text-align: center;
    font-weight: 500;
}

#about line {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.459);
    z-index: 1;
}

.who-am-i-content {
    margin-left: 3rem;
    width: 40rem;
    height: 15rem;
    background-color: rgb(204, 204, 204);
    border-radius: 2px;
    border: 3px solid rgba(0, 0, 0, 0.459);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.who-am-i-content p {
    padding-left: 20px;
    padding-right: 20px;
}

#skills {
    width: 100%;
    height: 100vh;
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.skills-content {
    width: 50rem;
    height: 30rem;
    border: 3px solid rgba(0, 0, 0, 0.459);
    background-color: rgb(204, 204, 204);
    z-index: 3;
    display: grid;
    grid-template-columns: auto auto auto;
}

.skill-item {
    border: 1px solid rgb(145, 145, 145);
    /* width: 15rem;
    heigth: 15rem; */
}

.skills-title {
    width: 20rem;
    height: 10rem;
    border: 3px solid rgba(0, 0, 0, 0.459);
    background-color: rgb(235, 91, 91);
    box-shadow: 2px 2px 2px 2px rgb(199, 197, 197);
    margin-left: 3rem;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#skills line {
    width: 100%;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.459);
    position: absolute;
}

.skills-title h1 {
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-weight: 500;
}

#projects {
    width: 100%;
    height: 100vh;
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.my-projects-title {
    width: 20rem;
    height: 10rem;
    margin-right: 3rem;
    background-color: rgb(246, 255, 113);
    box-shadow: 2px 2px 2px 2px rgb(199, 197, 197);
    border: 3px solid rgba(0, 0, 0, 0.459);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

#projects line {
    width: 100%;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.459);
    position: absolute;
    z-index: 1;
}

.my-projects-title h1 {
    font-weight: 500;
}

.project-content {
    width: 50rem;
    height: 25rem;
    background-color: rgb(204, 204, 204);
    border: 3px solid rgba(0, 0, 0, 0.459);
    z-index: 3;
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 50vh;
}

#contact line {
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.459);
}

.contact-title {
    width: 20rem;
    height: 10rem;
    margin-left: 3rem;
    background-color: rgb(118, 233, 108);
    box-shadow: 2px 2px 2px 2px rgb(199, 197, 197);
    border: 3px solid rgba(0, 0, 0, 0.459);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.contact-title h1 {
    font-weight: 500;
}

.contact-content {
    width: 50rem;
    height: 15rem;
    background-color: rgb(204, 204, 204);
    border: 3px solid rgba(0, 0, 0, 0.459);
    z-index: 3;
}